.container {
  width: 300px;
  height: 400px;
  background-color: gray;
  text-align: center;
  line-height: 400px;
}


.info {
  width: 100%;
  background-color: lime;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}